@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;    
}



.drinking{
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #F9F9F9;
    margin-top: 7vh;

    .moral{
        width: 93%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 30px;
        margin-bottom: 25px;
        h1{
            font-size: 40px;
            font-weight: 400;
            color: #232323;
        }
    }

    .gass{
        width: 93%;
        min-height: 5vh;
        row-gap: 15px;
        display: grid;
        grid-template-columns: auto;
        
        .falout {
            width: 100%;
            height: 5vh;
            display: flex;
            align-items: center;
            justify-content: start;
            border: 1px solid #1976D2;
            border-radius: 10px;
            padding: 5px 10px; 
            cursor: pointer;
            transition: height 0.3s ease; // Yumuq o‘tish
            &.expanded {
                height: 50vh;
                align-items: start;
            }

            h1{
                font-size: 14px;
                font-weight: 400;
                color: #232323;
                line-height: 22px;
            }
        }
        
    }
}